body {background-color: #EFF0F3!important}

.container {
  margin-top: 50px;
  width: 25%!important;
}

.list {
  color: dark;
  font-size: 10px;
  white-space: pre-line;
}

.input {
  background: #2FCC9A;
  border: 2px solid #228e6c;
  border-radius: 10px;
  padding: 20px 10px;
  margin-bottom: 20px;
}

#task {
  width: 60%;
  float: left;
  margin-right: 5%;
}

ul {
  padding: 0 10px!important;
}

ul li {
  list-style: none;
  padding: 15px;
  margin-bottom: 10px;
  background: #fcfcfc;
  border: 1px solid silver;
  border-radius: 5px;
}

#lists {
  position: relative;
  top: 10px;
  left: 0px;
  z-index: 1;
}

#lists button {
  background: #33aa33;
  color: white;
  border: 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 5px;
  z-index: 2;
  white-space: pre-line;
  margin-top: 2px;
  display: block;
  width:100%;
}

#lists button:hover {
  background: #00ff00;
}

ul li:hover {
  background: #e5e5e5;
}

ul li button {
  border: 0;
  padding: 5px 15px;
  color: white;
  font-size: 13px;
  float: right;
  background: red;
  position: relative;
  border-radius: 5px;
}

ul li button:hover {
  background: #a04141;
}
